// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder. 
// Just copy a variable from /sass/bootstrap/_variables.scss, paste it here and edit the value.
// As example you find one of the most important Bootstrap variable below: $brand-primary.
// Thats the ugly Bootstrap blue used for all the links, primary buttons etc.
// Just add your color code here, compile the theme.scss file to change this color everywhere
$font-family:'Raleway', sans-serif;
$font-family-sans-serif:'Raleway', sans-serif;
$brand-primary:         #93C3BB; //#ff6d5a
$border-width: 1.5px;
$black: #3F3F3F;
$h1-size: 30px;
$h2-size: 20px;
$p-size: 15px;
$video-header-size: 46.9px;
$video-subheader-size: 29.3px;
$numbers-font-size:60px;
$numbers-subheading:32px;
$world-subheading:32px;

$social-media-icon-size:40px;

@mixin h1(){
  &:after {
    @include border-heading();
  }
  font-size:$h1-size;
  margin-bottom:30px;
  text-transform:uppercase;
}
@mixin h2(){
  text-transform:uppercase;
  font-size:$h2-size;
  margin-bottom:20px;
}
@mixin p(){
  font-size:$p-size;
  margin-bottom:20px;
  font-weight:600!important;
  span {
    font-weight:600!important;
  }
}

@mixin border-heading() {
  padding-bottom: 2px;
  background: none repeat scroll 0 0 #3f3f3f;
  bottom: -10px;
  content: "";
  display: block;
  height: 1px;
  position: relative;
  width: 80px;
  margin: 0 auto;
  margin-bottom: 30px;
}
// 419 px
//538 px
@mixin certificate_sizes(){
  width:419px;
  height:538px;
}

@mixin certificate_sizes(){
  width:562px;
  height:724px;
}

@mixin cta_sizes {
  width:562px;
  height:105px;
}

@mixin social_media_sizes($size){
  width:40px;
  height:40px;
}

@mixin social_media_block(){
  width:90px;
  height:325px;
}

@mixin world_width(){
  width:1105px;
  height:576px;
}

@mixin section_padding(){
  padding:40px;
}

@mixin button($border-width, $brand-primary){
  color: $brand-primary;
  border: $border-width solid $brand-primary;
  text-transform:uppercase;
  font-size:13px;
  font-weight:bold;
  padding: 12px 40px;
  display: block;
  width: 220px;
  margin: 0 auto;
  margin-bottom:50px;
}

@mixin scrolling_button($color){

  color: $color;
  font-size:25px;
  border: 4px solid $color;
  width: 60px;
  margin: 0 auto;
  height: 60px;
  border-radius: 100%;
  display: flex;
  cursor:pointer;
  margin-top: 10px;
  &:hover {
    opacity:0.8;
  }
}
@mixin triangle($color){
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 17px solid $color;
  margin: auto;
}


@mixin big_heading($size){
  font-size:$size;
  margin-bottom:30px;
  text-transform:uppercase;
  width: 60%;
  line-height: 38px;
  margin: 0 auto;
  color:#fff;
}

@mixin carousel_thumbs(){
  .owl-dot.active, .owl-dot:hover {
    span {
      background: $brand-primary;
    }
  }
  .owl-dot{
    span {
      background: $black;
    }
  }

}

@mixin video_background(){
  .pattern {
    background-repeat: repeat;
    background-attachment:scroll;
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0
  }

  .divider {
    display:block;
    width:300px;
    height:35px;
    margin:10px auto
  }


  #colorize {
    color:#f1c40f;
    font-size:40px
  }



  /* BIG VIDEO BACKGROUND
  ================================================== */
  .big-background {
    z-index:550;
    text-align:center;
    height:100%;
    min-height:100%;
    position:relative;
    overflow:hidden
  }

  .big-background .big-background-container {
    width:830px;
    max-width:100%;
    display:inline-block;
    position:absolute;
    top:50%;
    left:50%;
    -webkit-transform:translate(-50%,-50%);
    -moz-transform:translate(-50%,-50%);
    -ms-transform:translate(-50%,-50%);
    -o-transform:translate(-50%,-50%);
    transform:translate(-50%,-50%)
  }

  .big-background-container p {
    color: #fff;
    font-size: 25px;
    line-height:30px;
    font-family: 'Raleway', sans-serif;
    text-shadow: 1px 1px 20px black;
    -moz-transition: left 1s ease, width 0s ease-out 1s, border-width 0s ease-out 1s;
    -webkit-transition: left 1s ease, width 0s ease-out 1s, border-width 0s ease-out 1s;

  }
  .big-background-container p:target {
    left: 0;
    width: 100%;
    border: 1px solid gray;
    -moz-transition: left 1s ease 0.1s, width 0s ease-out 0.1s, border-width 0s ease-out 0.1s;
    -webkit-transition: left 1s ease 0.1s, width 0s ease-out 0.1s, border-width 0s ease-out 0.1s;
  }
  .big-background-title {
    color: #fff;
    font-size: 55px;
    font-family: 'Raleway', sans-serif;
    text-transform:uppercase;
    margin-bottom:10px;
    font-weight:bold;
    text-shadow: 1px 1px 20px black;
  }

  a.big-background-btn {
    font-size:13px;
    text-transform:uppercase;
    text-decoration:none;
    color:#fff;
    background:transparent;
    border:2px solid #fff;
    padding:10px 14px;
    cursor:pointer;
    letter-spacing:2px;
    text-align:center;
    display:inline-block;
    -webkit-transition:.4s background ease;
    -moz-transition:.4s background ease;
    -o-transition:.4s background ease;
    transition:.4s background ease;
  }

  .big-background-btn:hover {
    color:#fff;
    background:rgba(255,255,255,0.20)
  }

  .big-background-default-image {
    background-repeat:no-repeat;
    background-position:center center;
    background-size:cover;
    width:100%;
    height:100%;
    z-index:0;
    backface-visibility:hidden
  }
  .scroll-button {
    color:#fff;
    border: 4px solid #fff;
  }
  .triangle {
    border-top: 17px solid #fff;
  }

}